<div class="container mt-5">
  <h1>Edit Post</h1>
  <%= form_with(model: @post, local: true, html: { class: 'form' }) do |form| %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control', required: true %>
      <%= display_form_error_messages(@post, :title) %>
    </div>
    <div class="mb-3">
      <%= form.label :content, class: 'form-label' %>
      <%= form.text_area :content, class: 'form-control', rows: 5, required: true %>
      <%= display_form_error_messages(@post, :content) %>
    </div>
    <div class="actions">
      <%= form.submit 'Update Post', class: 'btn btn-success' %>
      <%= link_to 'Back to Posts', posts_path, class: 'btn btn-link' %>
    </div>
  <% end %>
</div>
